<launch>
    <node
        pkg="turtlesim"
        type="turtlesim_node"
        name="turtlesim"
    >
    </node>
    <node
        pkg="turtlesim_move"
        type="gotogoal"
        name="gotogoal"
        launch-prefix="xterm -e"
    >
    </node>
    <node
        pkg="turtlesim_move"
        type="show_stats"
        name="show_stats"
        launch-prefix="xterm -e"
    >
    </node>
</launch>